<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php/$1 [L]
# RewriteRule ^(.*)$ conteudo-1/$1 [L]
# RewriteRule ^(.*)$ conteudo-2/$1 [L]
# RewriteRule ^(.*)$ conteudo-3/$1 [L]
# RewriteRule ^(.*)$ conteudo-4/$1 [L]
# RewriteRule ^(.*)$ conteudo-5/$1 [L]
# RewriteRule ^(.*)$ conteudo-6/$1 [L]
</IfModule>

